:root {
  --common-font: "Roboto", "Noto Sans", "Trebuchet MS", "sans-serif", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", "Arial";
  --dark-red: rgba(131, 3, 3, 0.9);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  background-color: black;
  font-family: var(--common-font);
}

h2 {
  color: white;
}

/* Header section */
.header {
  padding: 22%;
  background: url(../images/download.png);
  color: #ffffff;
  font-size: 250%;
  text-align: center;
  line-height: normal;
}

/* Style of my name */
.name,
.home {
  color: red;
}

/* Navigation Section */
nav {
  height: 100%;
  display: flex;
  background-color: black;
  padding: 1%;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  font-size: 115%;
}
nav ul {
  height: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav ul li {
  display: flex;
  justify-content: center;
  height: 100%;
  width: auto;
  text-align: center;
  padding: 0 2rem;
}

nav ul li a {
  display: block;
  height: 100%;
  width: auto;
  color: white;
  text-decoration: none;
  padding-left: 5px;
  border-left: 4px solid red;
}

nav ul li a:hover {
  color: red;
}

/* About Me Section */
.avatar {
  height: 15%;
  width: 15%;
  border-radius: 100px;
  margin: 2%;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 125%;
}

.about-me h2 {
  padding-bottom: 1%;
}

/* Portfolio Section */
.portfolio h2 {
  font-size: 250%;
  text-align: center;
  padding: 1%;
  background-color: black;
  color: white;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}

.portfolio {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* Portfolio Section - Card 1*/
.card-1 {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  position: relative;
}

.card-1 img {
  display: flex;
  flex: 1;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 50%;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  border: 1px solid red;
}

.card-1-text {
  position: absolute;
  height: 10%;
  width: 15%;
  bottom: 15%;
  left: 17.5%;
  color: white;
  background-color: var(--dark-red);
  border-radius: 0px 25px 25px 0px;
  font-size: 150%;
  text-decoration: none;
  padding-left: 0.5%;
  padding-top: 0.5%;
  padding-bottom: auto;
}

.card-1-link {
  color: white;
  text-decoration: none;
}

.card-1-link:hover {
  color: red;
}

.card-1 img:hover {
  color: rgb(193, 0, 0);
  box-shadow: 0 5px 10px red;
}

/* Card 2 */
.card-2-and-3 {
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  flex-direction: row;
}
.card-2 {
  width: 50%;
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}

.card-2 img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 0 0 300px;
  margin-top: 2%;
  margin-bottom: 2%;
  height: 80%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  border: 1px solid red;
  position: relative;
  flex-direction: row;
}

.card-2-text {
  position: absolute;
  height: 5%;
  width: 15%;
  bottom: 25%;
  left: 8%;
  color: white;
  background-color: var(--dark-red);
  border-radius: 0px 25px 25px 0px;
  font-size: 120%;
  text-decoration: none;
  padding-left: 0.5%;
  padding-top: 0.5%;
  padding-bottom: auto;
}

.card-2 img:hover {
  color: rgb(193, 0, 0);
  box-shadow: 0 5px 10px red;
}
/* Card 3 */

.card-3 {
  flex-wrap: wrap;
  flex-direction: row;
  width: 50%;
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  position: relative;
}

.card-3 img {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 300px;
  margin-top: 2%;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 90%;
  border-radius: 50px;
  border: 1px solid red;
  position: relative;
}

.card-3-text {
  position: absolute;
  height: 5%;
  width: 15%;
  bottom: 25%;
  left: 5%;
  color: white;
  background-color: var(--dark-red);
  border-radius: 0px 25px 25px 0px;
  font-size: 120%;
  text-decoration: none;
  padding-left: 0.5%;
  padding-top: 0.5%;
  padding-bottom: auto;
}

.card-3 img:hover {
  color: rgb(193, 0, 0);
  box-shadow: 0 5px 10px red;
}
/* Contact Me Section */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 125%;
}

/* Media Queries */
@media only screen and (max-width: 425px) {
  .about-me {
    font-size: small;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    font-size: medium;
  }
  .about-me {
    font-size: small;
    text-align: center;
  }

  .card-1-text {
    font-size: 65%;
    bottom: 18%;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    font-size: large;
  }

  .about-me {
    font-size: medium;
  }
  .card-1-text {
    font-size: 75%;
    bottom: 15%;
  }
}

@media only screen and (max-width: 1440px) {
  .card-1-text {
    font-size: 100%;
    bottom: 15%;
  }
}
