:root {
  --common-font: "Trebuchet MS", "sans-serif", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  background-color: black;
}

h2 {
  color: white;
}

/* Header section */
.header {
  padding: 20%;
  font-family: var(--common-font);
  background: url(../images/download.png);
  color: #ffffff;
  font-size: 250%;
  text-align: center;
  line-height: normal;
}

/* Style of my name */
.name,
.home {
  color: red;
}

/* Navigation Section */
nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  padding: 1%;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  font-size: 115%;
}
nav ul {
  height: 100%;
  display: flex;
  list-style: none;
}

nav ul li {
  height: 100%;
  border-left: 4px solid red;
}

nav ul li a {
  height: 100%;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding-left: 5px;
}

nav ul li a:hover {
  color: red;
}

/* About Me Section */
.avatar {
  height: 15%;
  width: 15%;
  border-radius: 100px;
  margin: 2%;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 125%;
}

.about-me h2 {
  padding-bottom: 1%;
}

/* Portfolio Section */
.portfolio h2 {
  font-size: 250%;
  text-align: center;
  padding: 1%;
  background-color: black;
  color: white;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}

/* Contact Me Section */
.contact {
  color: white;
}
/* Media Queries */
@media only screen and (max-width: 425px) {
  .about-me {
    font-size: small;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .header {
    font-size: medium;
  }
  .about-me {
    font-size: small;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    font-size: large;
  }

  .about-me {
    font-size: medium;
  }
}
